<h4 class="text-center p-3 mb-3">Registration</h4>
<form [formGroup]="registrationForm" (ngSubmit)="saveUser()">
  <div class="row flex-column no-gutters">
    <div class="row no-gutters justify-content-between">
      <div class="form-group col">
        <label for="firstName">First name:</label>
        <input type="text"
               class="form-control"
               id="firstName"
               formControlName="firstName">
        <small class="form-text invalid-form-text" *ngIf="fieldHasError('firstName', 'required')">Enter
          your first name</small>
      </div>
      <div class="form-group col pl-3 pr-3">
        <label for="lastName">Last name:</label>
        <input type="text"
               class="form-control"
               id="lastName"
               formControlName="lastName">
        <small class="form-text invalid-form-text" *ngIf="fieldHasError('lastName', 'required')">Enter
          your last name</small>
      </div>
      <div class="form-group col">
        <label for="patronymic">Patronymic:</label>
        <input type="text"
               class="form-control"
               id="patronymic"
               formControlName="patronymic">
        <small class="form-text invalid-form-text" *ngIf="fieldHasError('patronymic', 'required')">Enter
          your patronymic</small>
      </div>
    </div>
    <div class="form-group col-4">
      <label for="phoneNumber">Phone number:</label>
      <input type="text"
             class="form-control"
             id="phoneNumber"
             formControlName="phoneNumber"
             placeholder="+996-XXX-YYYYYY">
      <small class="form-text invalid-form-text" *ngIf="fieldHasError('phoneNumber', 'required')">Enter
        your phone number</small>
      <small class="form-text invalid-form-text" *ngIf="fieldHasError('phoneNumber', 'phone')">Enter
        a valid phone number</small>
    </div>
    <div class="form-group col-4">
      <label for="workStudyPlace">Place of work/study</label>
      <input type="text"
             class="form-control"
             id="workStudyPlace"
             formControlName="workStudyPlace">
      <small class="form-text invalid-form-text"
             *ngIf="fieldHasError('workStudyPlace', 'required')">Enter
        your work/study place</small>
    </div>
    <div class="form-group row col-2 ml-1">
      <div class="form-check col">
        <input type="radio"
               class="form-check-input"
               id="male"
               formControlName="gender"
               value="male">
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check col">
        <input type="radio"
               class="form-check-input"
               id="female"
               formControlName="gender"
               value="female">
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>
    <div class="form-group col-2" formArrayName="skills">
      <div [ngClass]="{'mb-3': setStyle()}">
        <label for="skillName">Skills</label>&nbsp;
        <button type="button" class="btn btn-outline-info" (click)="addSkill()">Add skill</button>
      </div>
      <div class="form-group form-inline mb-2" *ngFor="let skill of getSkillControls(); let i = index">
        <div class="form-group" [formGroupName]="i">
          <select class="custom-select"
                  id="skillName"
                  formControlName="skillName">
            <option value="">Select skill</option>
            <option value="java-script">JavaScript</option>
            <option value="react">React</option>
            <option value="angular">Angular</option>
            <option value="vue">Vue</option>
          </select>&nbsp;
          <small class="form-text invalid-form-text" *ngIf="fieldHasError('skillName', 'required')">Enter
            your skill</small>

          <select class="custom-select"
                  id="skillLevel"
                  formControlName="skillLevel">
            <option value="">Level of skill</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
            <option value="expert">Expert</option>
          </select>
          <small class="form-text invalid-form-text" *ngIf="fieldHasError('skillLevel', 'required')">Enter
            your level of skill</small>
        </div>
      </div>
    </div>
    <div class="form-group col-2">
      <label class="my-1 mr-2" for="size">T-shirt size</label>
      <select class="custom-select my-1"
              id="size"
              formControlName="size">
        <option value="">Select size</option>
        <option value="s">S</option>
        <option value="m">M</option>
        <option value="l">L</option>
        <option value="xl">XL</option>
      </select>
      <small class="form-text invalid-form-text" *ngIf="fieldHasError('size', 'required')">Enter
        your t-shirt size</small>
    </div>
    <div class="form-group col-4">
      <label for="comment">Comment</label>
      <textarea class="form-control"
                id="comment"
                formControlName="comment"
                placeholder="Input some text"
                (input)="onCommentInput()"></textarea>
      <small class="text-muted">{{ onCommentInput() }}</small>
      <small class="form-text invalid-form-text" *ngIf="fieldHasError('comment', 'required')">Enter
        your comment</small>
      <small class="form-text invalid-form-text" *ngIf="fieldHasError('comment', 'maxlength')">The
        maximum message length is 300 characters</small>
    </div>
  </div>

  <button type="submit" class="btn btn-info" [disabled]="isUploading || registrationForm.invalid">
    <span *ngIf="!isUploading">Save</span>
    <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
      <span class="sr-only">Loading...</span>
    </span>
  </button>
</form>
