<div class="card mb-4" *ngIf="user">
  <h5 class="card-header">{{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}</h5>
  <div class="card-body">
    <p class="card-text"><strong>Phone number:</strong> {{ user.phoneNumber }}</p>
    <p class="card-text"><strong>Place of work/study:</strong> {{ user.workStudyPlace }}</p>
    <p class="card-text"><strong>Gender: </strong><span class="text-capitalize">{{ user.gender }}</span></p>
    <div class="row no-gutters">
      <p><strong>Skills:</strong></p>
      <ul>
        <li class="mb-2" *ngFor="let skill of user.skills">
          <span><strong class="text-capitalize">{{skillNameHandler(skill.skillName)}}</strong></span>&nbsp;
          <span>({{ skill.skillLevel }})</span>
        </li>
      </ul>
    </div>
    <p class="card-text"><strong>Size: </strong><span class="text-uppercase">{{ user.size }}</span></p>
    <p class="card-text"><strong>Comment:</strong> {{ user.comment }}</p>
    <a [routerLink]="['edit']" class="btn btn-secondary">Edit</a>&nbsp;
    <button class="btn btn-danger" (click)="onRemove()" [disabled]="isRemoving">
      <span *ngIf="!isRemoving">Delete</span>
      <span class="spinner-border spinner-border-sm" *ngIf="isRemoving">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
  </div>
</div>
